<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <title>{$lang.online_service}</title>
    {global_assets('js')}
</head>
<body>

</body>
<style>
    #chat_2z2x_holder{
        display: none;
    }
</style>

<script src="https://www.jd2z2x.club/static/client/js/webim2z2x.js?ak=b3ac5a5d85505f33b32b8bdc0c807190"></script>
<script>
    $(function () {
        $('#chat_2z2x_holder').trigger('click')
    })

</script>
</html>
