{include file="page_header"}
<header class="dis-box header-menu n-header-menu new-goods-nav ts-5">
    <h3 class="box-flex">
        <nav class="t-goods-shop-list-nav box-flex swiper-container-horizontal "><!-- goods-list-nav-new -->
            <ul class="swiper-wrapper  dis-box text-c goods-ul">
                <a class="a-icon-back box-flex left"  href="javascript:history.go(-1);"><i class="iconfont icon-jiantou1 col-7"></i></a>
                <li class="div1 box-flex swiper-slide active position-rel swiper-slide-active" category="1">
                    <a class="product-div-link j-goods-shop" href="javascript:;"></a>商品</li>
                <li class="div3 box-flex swiper-slide position-rel swiper-slide-next" category="3">
                    <a class="product-div-link j-goods-detail" href="{url('sample/index/info', array('id'=>$sample.act_id))}"></a>详情</li>
                <li class="div4 box-flex swiper-slide position-rel" category="4">
                    <a class="product-div-link" href="{url('sample/index/comment', array('id'=>$sample.act_id))}"></a>评论</li>
               <a class="box-flex right filter-btn-shop filter-btn-a" href="{url('cart/index/index')}"><i class="iconfont icon-gouwuche col-7"></i></a>
            </ul>
        </nav>
    </h3>
</header>
		<div class="con" id="checkPage">
		<form name="ECS_FORMBUY" action="{url('buy')}" id="ECS_FORMBUY" method="post" onsubmit="return get_presale();">
			<div class="goods">
				<div class="goods-banner goods-photo j-show-goods-img">
					<span class="goods-num" id="goods-num">
						<span id="g-active-num"></span>/<span id="g-all-num"></span>
					</span>
					<div class="swiper-wrapper">
						{foreach $goods_img as $goods_img}
						<li class="swiper-slide tb-lr-center"><img src="{$goods_img.img_url}"/></li>
						{/foreach}
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>

				<section class="goods-title b-color-f padding-all ">
					<div class="dis-box">
						<div class="box-flex">
					 		<h3 class="twolist-hidden" style="height:inherit;">
						{if empty($goods.user_id)}
							<em class="em-promotion">自营</em>
							{/if}
							{$goods.goods_name}</h3></div>
						<span class="heart j-heart {if $goods_collect}active{/if}"  onclick="collect({$goods.goods_id})" id="ECS_COLLECT"><i class="ts-2 shoucang"></i><em class="ts-2">收藏</em></span>
					</div>
				</section>
				<section class="goods-price padding-all b-color-f">
					<p class="p-price p_go">样品价<span class="t-first t-cha" id="ECS_SHOPPRICE">￥{$sample.price_ladder.0.price}</span></p>
					<!-- <p class="p-market">实体商场零售价<del id="ECS_MARKETPRICE">{$goods.market_price}</del></p> -->
                    {if $goods.cost_price != 0}
                    <p class="p-market gobirl">建议零售价<em>&nbsp;&nbsp;￥{$goods.cost_price}</em></p>
                    {/if}
                    <p class=" dis-box g-p-tthree m-top06">
                        <span class="box-flex text-left">生产周期<em>&nbsp;&nbsp;{$sample.production_cycle}天</em></span>
                    </p>
                    <p class=" dis-box g-p-tthree m-top06">
                        <span class="box-flex text-left t-first ">注：样品每个规格每一颜色只限订1件</span>
                    </p>
                    <p class=" dis-box g-p-tthree m-top06">
                        <span class="box-flex text-left">累计评价<em>&nbsp;&nbsp;{$comment_all.allmen}人评价</em></span>
                        <!-- <span class="box-flex text-left">累计已订
                            <em>{$orderG_number}</em>{$goods.measure_unit}
                        </span> -->
                    </p>
				</section>


				 <section class="padding-all b-color-f m-top1px n-goods-box" style="display: none">
                    <!--address-start-->
                        <div id="editAddressForm">
                            <input type="hidden" id="province_id" name="province_region_id" value="">
                            <input type="hidden" id="city_id" name="city_region_id" value="">
                            <input type="hidden" id="district_id" name="district_region_id" value="">
                            <input type="hidden" id="town_id" name="town_region_id" value="">
                            <input type="hidden" id="village_id" name="village_region_id" value="">
                            <input type="hidden" id="region_id" name="region_id" value="">
                            <div id="attr" style="display: none">
                            </div>
                            <input type="hidden" id="address_id" name="address_id" value="">
                            <div class="address-box" id="selectAddressBtn" region-data="">
                                    <label class="fl t-remark g-t-temark">所在地区</label>
                                    <span class="fl text-all-span f-05" id="addressLabelId">{$province_row.region_name}{$city_row.region_name}{$district_row.region_name}{$town_row.region_name}{$village_row.region_name}</span>
                                    <div class="f-04"><span class="t-jiantou fr"><i class="iconfont icon-jiantou"></i></span></div>
                            </div>
                        </div>
                         <!--address-end-->
               </section>
				{if $show_warehouse}
				<section class="m-top1px padding-all b-color-f goods-attr j-filter-depot">
					<div class="dis-box">
						<label class="t-remark g-t-temark">默认仓库</label>
						<span class="box-flex t-goods1 text-all-span ">{$warehouse_name}</span>
						 <div class="f-04"><span class="t-jiantou fr"><i class="iconfont icon-jiantou"></i></span></div>
					</div>
				</section>
				{/if}
                <section class="m-top08 padding-all b-color-f goods-attr j-goods-attr j-show-div">
                    <div class="dis-box">
                        <label class="t-remark g-t-temark">已选</label>
                        <div class="box-flex">请选择</div>
                        <div class="f-04"><span class="t-jiantou"><i class="iconfont icon-jiantou"></i></span></div>
                    </div>
                    <!--商品属性弹出层star-->
                    <div class="mask-filter-div"></div>
                    <div class="show-goods-attr j-filter-show-div ts-3 b-color-1">
                        <section class="s-g-attr-title b-color-1  product-list-small">
                            <div class="product-div">
                                <img class="product-list-img" src="{$goods.goods_img}">
                                <div class="product-text">
                                    <div class="dis-box position-rel">
                                        <h4 class="box-flex">{$goods.goods_name}</h4>
                                        <i class="iconfont icon-guanbi2 show-div-guanbi"></i>
                                    </div>
                                    <p><span class="p-price t-first " id="ECS_GOODS_AMOUNT">￥{$sample.price_ladder.0.price}</span></p>
                                </div>
                            </div>
                        </section>
                        <section class="s-g-attr-con swiper-scroll b-color-f padding-all m-top1px">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!--{if $specification}-->
                                    <!--{$i=0}-->
                                    <!-- {foreach from=$specification item=spec key=spec_key} -->
                                    <!--{$i++}-->
                                    <!--{if $i == count($specification)}-->
                                    {if $spec.values}
                                    <h4 class="t-remark">{$spec.name}</h4>
                                    <div class="main_attr_list is-size" ectype="main_attr_list">
                                    </div>
                                    <ul class="hide" ectype="select_record"></ul>
                                    {/if}
                                    <!--{else}-->
                                    {if $spec.values}
                                    <h4 class="t-remark">{$spec.name}</h4>
                                    <!-- 判断属性是复选还是单选 -->
                                    {if $spec.attr_type == 1}
                                    <ul class="select-one j-get-one m-top10">
                                        {if $spec.is_checked > 0}
                                        <!-- pc有属性图片 -->
                                        {foreach $spec.values as $key=>$val}
                                        <a class="ect-select dis-flex fl" href="javascript:;" {if $val.img_site}onclick="location.href='{$val.img_site}'"{/if}>
                                        <label class="ts-1 {if $val.checked == 1}active{/if}" for="spec_value_{$val.id}">{$val.label}</label>
                                        <input style="display:none" id="spec_value_{$val.id}" type="radio" name="spec_{$spec_key}" value="{$val.id}" {if $val.checked == 1}checked{/if} onclick="changePrice()" />
                                        </a>
                                        {/foreach}
                                        {else}
                                        <!-- pc没属性图片 -->
                                        {foreach $spec.values as $key=>$val}
                                        <a class="ect-select dis-flex fl" href="javascript:;" {if $val.img_site}onclick="location.href='{$val.img_site}'"{/if}>
                                        <label class="ts-1 {if $key == 0}active{/if}" for="spec_value_{$val.id}">{$val.label}</label>
                                        <input style="display:none" id="spec_value_{$val.id}" type="radio" name="spec_{$spec_key}" value="{$val.id}" {if $key == 0}checked{/if} onclick="changePrice()" />
                                        </a>
                                        {/foreach}
                                        <input type="hidden" name="goods_spec" value="{$val.id}" />
                                        {/if}
                                    </ul>
                                    <input type="hidden" name="spec_list" value="{$spec_key}" />
                                    {else}
                                    <ul class="select-one j-get-one m-top10">
                                        {foreach $spec.values as $key=>$val}
                                        <li class="ect-select dis-flex fl">
                                            <label class="ts-1 {if $key == 0}active{/if}" for="spec_value_{$val.id}">{$val.label}</label>
                                            <input type="checkbox" name="spec_{$spec_key}[]" value="{$val.id}" id="spec_value_{$val.id}" onclick="changePrice()" {if $select_key == 0}checked{/if} style="display:none" />
                                        </li>
                                        {/foreach}
                                    </ul>
                                    {/if}
                                    {/if}
                                    <!--{/if}-->
                                    <!--{/foreach}-->
                                    <!--{else}-->
                                    <div class="main_attr_list is-size">
                                        <ul class="select-ul">
                                            <li>
                                                <div class="row4">
                                                    <div class="number">
                                                        <a href="javascript:void(0)" class="decrement btn-reduce">-</a>
                                                        <input name="goods_number" type="text" id="quantity" class="itxt buy-num" value="0" size="10" data-inventory="{$goods.goods_number}">
                                                        <a href="javascript:void(0)" class="increment btn-add">+</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--{/if}-->
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </section>
                       <!--  <section class="ect-purchasing-order" style="bottom: 7.2rem;"> -->
                            <!--{if count($specification)}-->
                            <!-- <div class="whodet" ectype="whodet">
                                <div class="whodet-list">
                                    <div class="w-number"><em class="org" ectype="w-number">0</em>件</div>
                                    <div class="w-total">共<em class="org" ectype="w-total">0.00</em>元</div>
                                    <div class="w-handle" ectype="w-handle">已选清单<i></i></div>
                                </div>
                                <div class="whodet-goods-info" ectype="wginfo">
                                </div>
                            </div> -->
                            <!--{else}-->
                            <!-- <div class="whodet" ectype="whodet">
                                <div class="whodet-list">
                                    <div class="w-number"><em class="org" ectype="w-number">0</em>个</div>
                                    <div class="w-total">共<em class="org" ectype="w-total">0.00</em>元</div>
                                </div>
                            </div> -->
                            <!--{/if}-->
                       <!--  </section> -->
                        <section class="ect-button-more dis-box">
                            <input type="hidden" value="{$province_row.region_id}" id="province_id" name="province_region_id">
                            <input type="hidden" value="{$city_row.region_id}" id="city_id" name="city_region_id">
                            <input type="hidden" value="{if $district_row.region_id}{$district_row.region_id}{else}0{/if}" id="district_id" name="district_region_id">
                            <input type="hidden" value="{$region_id}" id="warehouse_id" name="warehouse_id">
                            <input type="hidden" value="{$region_id}" id="region_id" name="region_id">
                            <input type="hidden" value="{count($specification)}" id="specscount" name="specscount">
                            <input type="hidden" value="{$goods_id}" id="good_id" name="good_id">
                            <input type="hidden" value="{$user_id}" id="user_id" name="user_id">
                            <input name="goods_spec" value="" type="hidden" />
                            <input type="hidden" value="{$area_id}" id="area_id" name="area_id">
                            <input type="hidden" value="{$sample.act_id}" id="sample_id" name="sample_id">
                            <button type="submit" class="btn-submit box-flex add-to-cart buy-now" >确定</button>
                        </section>
                    </div>
                    <!--商品属性弹出层end-->
                </section>

				<section class="m-top08 padding-all b-color-f goods-promotion">
					<a href="{url('sample/index/info', array('id'=>$sample.act_id))}">
					<div class="dis-box">
						<label class="t-remark g-t-temark">查看商品详情</label>
						<div class="box-flex"></div>
						 <div class="f-04"><span class="t-jiantou"><i class="iconfont icon-jiantou"></i></span></div>
					</div>
					</a>
				</section>
				<section class="m-top04 goods-evaluation">
					<a href="{url('sample/index/comment', array('id'=>$sample.act_id))}">
						<div class="dis-box padding-all b-color-f  g-evaluation-title">
							<label class="t-remark g-t-temark">用户评价</label>
							<div class="box-flex t-goods1">好评率 <em class="t-first">{$comment_all.goodReview}%</em></div>
							<div class="t-goods1"><em class="t-first">{$comment_all.allmen}</em><span class="t-jiantou">人评论<i class="iconfont icon-jiantou"></i></span></div>
						</div>
					</a>
					{if $good_comment}
					<div class="padding-all m-top1px b-color-f g-evaluation-con">
						<div class="of-hidden evaluation-list">
							<div class="of-hidden ">
								<p class="fl">
									<span class="grade-star g-star-{$good_comment[0]['rank']} fl"></span>
									<em class="t-remark fl">{$good_comment[0]['username']}</em>
								</p>
								<p class="fr t-remark">{$good_comment[0]['add_time']}</p>
							</div>
							<p class="clear m-top10 t-goods1">{$good_comment[0]['content']}</p>
							{if $good_comment[0]['goods']}
							<p class="clear m-top08 t-remark">{$good_comment[0]['goods'][0]['goods_attr']}</p>
							{/if}
							<div class="ect-button-more m-top10 dis-box">
								<a href="{url('infoimg', array('id'=>$goods.goods_id))}" class="box-flex btn-default-new br-5 min-btn">有图评价</a>
								<a href="{url('comment', array('id'=>$goods.goods_id))}" class="box-flex btn-default-new br-5 min-btn">全部评价</a>
							</div>
						</div>
					</div>
					{/if}
				</section>
				<section class="m-top04 padding-all goods-shop  b-color-f">
					{if $goods.user_id}
					<div class="goods-shop-info">
						<a href="{$goods.store_url}" class="link-abs"></a>
						<section class="dis-box">
							<div class="g-s-i-img"><img src="{$goods.shopinfo.logo_thumb}" /></div>
							<div class="g-s-i-title box-flex">
								<h3 class="ellipsis-one">{$goods.rz_shopName}</h3>
								<p class="t-remark m-top04">已经有 {$collect_number} 人关注<span class="fr">参展产品<em class="t-first">{$goods.shopinfo.insale}</em>款</span></p>
							</div>
						</section>
						<section class="dis-box goods-shop-score m-top12">
							<p class="box-flex">
								<label class="fl">商品</label><span class="t-first margin-lr fl">{$merch_cmt['cmt']['commentRank']['zconments']['score']}分</span><em class="em-promotion fl">{$merch_cmt['cmt']['commentRank']['zconments']['goodReview']}</em></p>
							<p class="box-flex">
								<label class="fl">服务</label><span class="t-low margin-lr fl">{$merch_cmt['cmt']['commentServer']['zconments']['score']}分</span><em class="em-promotion em-p-low fl">{$merch_cmt['cmt']['commentServer']['zconments']['goodReview']}</em></p>
							<p class="box-flex">
								<label class="fl">时效</label><span class="t-center margin-lr fl">{$merch_cmt['cmt']['commentDelivery']['zconments']['score']}分</span><em class="em-promotion em-p-center fl">{$merch_cmt['cmt']['commentDelivery']['zconments']['goodReview']}</em></p>
						</section>
					</div>
					{/if}
					{if $new_goods}
					<div class="goods-shop-pic of-hidden">
						<h4 class="title-hrbg m-top06"><span>爆款新品</span><hr> </h4>
						<div class="g-s-p-con product-one-list of-hidden scrollbar-none j-g-s-p-con">
							<div class="swiper-wrapper ">
								{foreach $new_goods as $k=>$v}
								<li class="swiper-slide">
									<div class="product-div">
										<a href="{$v.url}"><img class="product-list-img" src="{$v.goods_img}" /></a>
										<div class="product-text m-top06">
											<a href="{$v.url}"><h4>{$v.name}</h4></a>
											<p><span class="p-price t-first ">
                                                {if $v.promote_price}
                                                {$v.promote_price}
                                                {else}
                                                {$v.shop_price}
                                                {/if}
                                            </span>
											</p>
										</div>
									</div>
								</li>
								{/foreach}
							</div>
						</div>
					</div>
					{/if}
					{if $merchant_group_goods}
					<div class="goods-shop-pic of-hidden">
						<h4 class="title-hrbg m-top06"><span>本展厅其他款式的样品</span>
							<hr>
						</h4>
						<div class="g-s-p-con product-one-list of-hidden scrollbar-none j-g-s-p-con">
							<div class="swiper-wrapper ">
								{foreach $merchant_group_goods as $k=>$v}
								<li class="swiper-slide">
									<div class="product-div">
										<a href="{url('sample/index/detail',array('id'=>$v.act_id))}"><img class="product-list-img" src="{$v.goods_thumb}"/></a>
										<div class="product-text m-top06">
											<a href="{url('sample/index/detail',array('id'=>$v.act_id))}"><h4>{$v.act_name}</h4></a>
											<p><span class="p-price t-first ">
                                                {if $v.promote_price}
                                                {$v.promote_price}
                                                {else}
                                                {$v.shop_price}
                                                {/if}
                                            </span>
											</p>
										</div>
									</div>
								</li>
								{/foreach}
							</div>
						</div>
					</div>
					{/if}
					<div class="ect-button-more n-ect-button-more m-top10 dis-box goods-shop-btn">
						{if isset($basic_info.kf_appkey) && !empty($basic_info.kf_appkey)}
						<a class="box-flex  btn-default-new br-5 min-btn" href="{url('chat/yunwang/index', array('goods_id'=> $goods.goods_id))}"><i class="iconfont icon-kefu t-first"></i>联系客服</a>
						{elseif isset($basic_info.meiqia) && !empty($basic_info.meiqia)}
						<a class="box-flex  btn-default-new br-5 min-btn" href="https://static.meiqia.com/dist/standalone.html?eid={$basic_info.meiqia}"><i class="iconfont icon-kefu t-first"></i>联系客服</a>
						{else}
						{if $basic_info.kf_type}
						<a class="box-flex  btn-default-new br-5 min-btn" href="http://www.taobao.com/webww/ww.php?ver=3&touid={$basic_info.kf_ww}&siteid=cntaobao&status=1&charset=utf-8"><i class="iconfont icon-kefu t-first"></i>联系客服</a>
						{else}
						<a class="box-flex  btn-default-new br-5 min-btn" href="http://wpa.qq.com/msgrd?v=3&uin={$basic_info.kf_qq}&site=qq&menu=yes"><i class="iconfont icon-kefu t-first"></i>联系客服</a>
						{/if}
						{if $goods.user_id}
						<a class="box-flex  btn-default-new br-5 min-btn" href="{$goods.store_url}"><i class="iconfont icon-dianpu t-two"></i>进入展厅</a>
						{/if}
						{/if}
					</div>
				</section>

		</div>

			<!--悬浮btn star-->
			<section class="filter-btn dis-box">
				{if isset($basic_info.kf_appkey) && !empty($basic_info.kf_appkey)}
				<a class="filter-btn-kefu filter-btn-a" href="{url('chat/yunwang/index', array('goods_id'=> $goods.goods_id))}"><i class="iconfont icon-kefu"></i><em>客服</em></a>
				{elseif isset($basic_info.meiqia) && !empty($basic_info.meiqia)}
				<a class="filter-btn-kefu filter-btn-a" href="https://static.meiqia.com/dist/standalone.html?eid={$basic_info.meiqia}"><i class="iconfont icon-kefu"></i><em>客服</em></a>
				{else}
				{if $basic_info.kf_type}
				<a class="filter-btn-kefu filter-btn-a" href="http://www.taobao.com/webww/ww.php?ver=3&touid={$basic_info.kf_ww}&siteid=cntaobao&status=1&charset=utf-8"><i class="iconfont icon-kefu"></i><em>客服</em></a>
				{else}
				<a class="filter-btn-kefu filter-btn-a" href="http://wpa.qq.com/msgrd?v=3&uin={$basic_info.kf_qq}&site=qq&menu=yes"><i class="iconfont icon-kefu"></i><em>客服</em></a>
				{/if}
				{/if}
				{if $goods.user_id}
				<a class="filter-btn-shop filter-btn-a" href="{url('cart/index/index')}"><i class="iconfont icon-gouwuche"></i><em>进货单</em></a>
				{/if}
                <a href="javascript:;" class="btn-cart box-flex j-add-cart click-show-attr" data-type="cart">加入进货单</a>
				<a href="javascript:void(0);" class="btn-submit box-flex click-show-attr" data-type="purchase">立即订购</a>
			</section>
			<!--悬浮btn end-->
			<!--地区s-->
			<div class="filter-city-div ts-5 c-filter-div c-city-div">

				<section class="close-filter-div j-close-filter-div">
					<div class="close-f-btn">
						<i class="iconfont icon-fanhui"></i>
						<span>关闭</span>
					</div>
				</section>
				<section class="con-filter-div">
					<aside>
						<div class="menu-left j-city-left scrollbar-none" id="sidebar">
							<ul >
								<!-- 省、直辖市 -->
								{foreach $province_list as $province}
								<li region="{$province.region_id}" {if $goods_region.province == $province.region_id}class="active"{/if} onclick="region.getRegion({$province.region_id}, 2, {$user_id})">{$province.region_name}</li>
								{/foreach}
							</ul>
						</div>
					</aside>
					<section class="menu-right j-city-right">
						<div class="select-two j-get-city-one">
							{foreach $city_list as $city}
							{if $city.district_list}
							<a class="select-title padding-all j-menu-select">
								<label class="fl">{$city.region_name}</label>
								<span class="fr t-jiantou j-t-jiantou" id="j-t-jiantou"><i class="iconfont icon-jiantou ts-2"></i></span>
							</a>
							<ul class="padding-all j-sub-menu">
								{foreach $city.district_list as $district}
								<li class="ect-select">
									<label onclick="region.changedDis({$district.region_id}, {$city.region_id}, {$user_id})" class="ts-1 {if $goods_region.district == $district.region_id}active{/if}">{$district.region_name}<i class="fr iconfont icon-gou ts-1"></i></label>
								</li>
								{/foreach}
							</ul>
							{else}
							<a class="select-title padding-all j-menu-select" onclick="region.changedDis({$district.region_id}, {$city.region_id}, {$user_id})">
								<label class="fl">{$city.region_name}</label>
								<span class="fr t-jiantou j-t-jiantou" id="j-t-jiantou"><i class="iconfont icon-jiantou ts-2"></i></span>
							</a>
							{/if}
							{/foreach}
						</div>
					</section>
					</div>
				</section>

			<!--地区e-->
			{if $show_warehouse}
			<!--仓库s-->
			<div class="filter-depot-div ts-5 c-filter-div c-depot-div">
				<section class="close-filter-div j-close-filter-div">
					<div class="close-f-btn">
						<i class="iconfont icon-fanhui"></i>
						<span>关闭</span>
					</div>
				</section>
				<section class="con-filter-div">
					<div class="select-two j-get-depot-one">
						<ul class="padding-all">
							{foreach $warehouse_list as $warehouse}
							<li class="ect-select" onclick="warehouse({$warehouse.region_id}, {$goods_id})">
								<label class="ts-1 {if $region_id == $warehouse.region_id}active{/if}">{$warehouse.region_name}<i class="fr iconfont icon-gou ts-1"></i></label>
							</li>
							{/foreach}
						</ul>
					</div>
				</section>
			</div>
			{/if}
			</section>
		</form>
		</div>
	<div class="shopping-prompt ts-2">
		<img src="{elixir('img/fengxiang.png')}" />
	</div>
	    <!--地区选择 s-->
                 {include file="address"}
        <!--地区选择 e-->
		<!--仓库e-->
		    <!--快捷导航-->
    {include file="float_nav"}
    {include file="float_nav_footer"}
		<script>
            var user_id = '{$user_id}'

            $(function(){
                /*点击弹出搜索层*/
                $(".j-price-ladder").click(function() {
                    $(".t-price-ladder").toggleClass("active");
                });

                $("*[ectype='w-handle']").on("click",function(){
                    var parent = $(this).parents("*[ectype='whodet']");
                    var wginfo = parent.find("*[ectype='wginfo']");
                    var top = wginfo.height();
                    wginfo.css({"top":-(top+2)});
                    if(parent.hasClass("whodet-cur")){
                        parent.removeClass("whodet-cur");
                        wginfo.hide();
                    }else{
                        parent.addClass("whodet-cur");
                        wginfo.show();
                    }
                });
                $("*[ectype='wginfo']").hide();

                $(document).on('click', '.btn-add',function(){
                    var quantity  = 0;

                    //查看是否设置属性
                    var specscount = parseInt($("input[name='specscount']").val());
                    if (specscount) {
                        $("[ectype='select_record'] li").each(function (i) {
                            var num = parseInt($(this).attr('data-num'));
                            quantity += num;
                        })
                    } else {
                        quantity = $("input[name='goods_number']").val();
                    }

                    quantity = Number(quantity);

                    var perNumber =Number($("*[ectype='perNumber']").val()),
                            restrictShop = Number($("*[ectype='restrictShop']").val()),
                            ogNumber = Number($("*[ectype='orderGNumber']").data("value"));


                    if(perNumber == 0 || quantity > perNumber){
                        d_messages('商品库存不足');
                        return false;
                    }else if((quantity+ogNumber) >= restrictShop  && restrictShop > 0){
                        d_messages('该商品已经累计超过限购数量');
                        return false;
                    }

                    var num = $(this).siblings('.buy-num').val();
                    num = parseInt(num);
                    if (num + 1 > 1) {
                        d_messages('每个规格最多只能选择一件');
                        return false;
                    }
                    $(this).siblings('.buy-num').val(num+1);

                    $("*[ectype='whodet']").show();
                    set_select_record($(this));
                })

                $(document).on('click', '.btn-reduce',function(){
                    var num = $(this).siblings('.buy-num').val();
                    num = parseInt(num);
                    if(num>0){
                        $(this).siblings('.buy-num').val(num-1);
                    }

                    set_select_record($(this));
                })

                $(document).on('keyup', '.buy-num', function(){
                    if($(this).val() < 0 || isNaN($(this).val()) || $(this).val() == ''){
                        $(this).val(0);
                    }
                    $("*[ectype='whodet']").show();
                    set_select_record($(this));
                });

                $(document).on('blur', '.buy-num', function(){
                    var quantity  = 0;
                    $("[ectype='select_record'] li").each(function(i){
                        var num =  parseInt($(this).attr('data-num'));
                        quantity += num;
                    })

                    var val = $(this).val();
                    if (val > 1) {
                        d_messages('每个规格最多只能选择一件');
                        $(this).val(1);
                        set_select_record($(this));
                        return false;
                    }

                    var perNumber =Number($("*[ectype='perNumber']").val()),
                            restrictShop = Number($("*[ectype='restrictShop']").val()),
                            ogNumber = Number($("*[ectype='orderGNumber']").data("value"));

                    if(perNumber == 0 || quantity > perNumber){
                        $(this).val(0);
                        set_select_record($(this));
                        d_messages('商品库存不足',"",0);
                        return false;
                    }else if((quantity+ogNumber) > restrictShop  && restrictShop > 0){
                        $(this).val(0);
                        set_select_record($(this));
                        d_messages('对不起，该商品已经累计超过限购数量',"",0,500);
                        return false;
                    }

                    var val = $(this).val();
                    if(val.length>1){
                        $(this).val(val.replace(/\b(0+)/gi,""));
                    }
                });

                $('.buy-now').bind('click', function(){

                    var perNumber =Number($("*[ectype='perNumber']").val()),
                            restrictShop = Number($("*[ectype='restrictShop']").val()),
                            ogNumber = Number($("*[ectype='orderGNumber']").data("value"));
                    var moq = parseInt($("input[name='moq']").val());

                    //查看是否设置属性
                    var attr_array = new Array();
                    var num_array = new Array();

                    $('#attr').html('');
                    var quantity  = 0;
                    var specscount = parseInt($("input[name='specscount']").val());
                    if (specscount > 0) {
                        $("[ectype='select_record'] li").each(function(i){
                            var attr = $(this).attr('data-attr');
                            var num =  parseInt($(this).attr('data-num'));
                            $('#attr').append('<input name="attr_array['+attr+']" value="'+num+'">');
                            quantity += num;
                        })
                    } else {
                        quantity = $("input[name='goods_number']").val();
                    }

                    quantity = Number(quantity);

                    if(user_id && parseInt(user_id) > 0){
                        if (quantity <= 0) {
                            d_messages('您选择您需要购买的商品', '', 0);
                            return false;
                        }

                        if (moq && moq > quantity) {
                            d_messages('您订购的商品少于最小起订量', '', 0);
                            return false;
                        }

                        if(perNumber == 0 || quantity > perNumber){
                            d_messages('商品库存不足',"",0);
                            return false;
                        }else if((quantity+ogNumber) > restrictShop  && restrictShop > 0){
                            d_messages('对不起，该商品已经累计超过限购数量',"",0,500);
                            return false;
                        }else{
                            return true;
                        }
                    }else{
                        layer.open({
                            content: '请登录后关注登录',
                            btn: ['立即登录', '取消'],
                            shadeClose: false,
                            yes: function () {
                                window.location.href = ROOT_URL + "index.php?m=user&c=login";
                            },
                            no: function () {
                            }
                        });
                        return false;
                    }

                    return false;
                });

                $("form[name='ECS_FORMBUY']").Validform({
                    tiptype: function (msg) {
                        d_messages(msg);
                    },
                    tipSweep: true,
                    ajaxPost: true,
                    callback: function (data) {
                        if (data.error) {
                            d_messages(data.message)
                        } else {
                            if ($('.buy-now').data('type') == 'cart') {
                                d_messages(data.message)
                                //清空
                                $('.buy-num').val(0)
                                $("[ectype='w-number']").html(0);
                                $("[ectype='w-total']").html(0.00);
                                $("[ectype='main_attr_list'] .price").html('');
                                $("[ectype='wginfo']").html('');
                                $("#attr").html('');
                                $("*[ectype='select_record']").html('');
                                $('.show-goods-attr .show-div-guanbi').trigger('click')
                                $("[ectype='wginfo']")
                            } else {
                                d_messages(data.message)
                                window.location.href = ROOT_URL + "index.php?m=cart&c=index"
                            }
                        }
                    }
                })
            })
			/*商品详情相册切换*/
			var swiper = new Swiper('.goods-photo', {
				paginationClickable: true,
				onInit: function(swiper) {
					document.getElementById("g-active-num").innerHTML = swiper.activeIndex + 1;
					document.getElementById("g-all-num").innerHTML = swiper.slides.length;
				},
				onSlideChangeStart: function(swiper) {
					document.getElementById("g-active-num").innerHTML = swiper.activeIndex + 1;
				}
			});
			/*店铺信息商品滚动*/
			var swiper = new Swiper('.j-g-s-p-con', {
				scrollbarHide: true,
				slidesPerView: 'auto',
				centeredSlides: false,
				grabCursor: true
			});
			$(function(){
				changePrice();
				//商品详情属性弹出层
				$(".click-show-attr").click(function(){
                    var type = $(this).data('type');
                    $('.buy-now').attr('data-type', type);
					$(".show-goods-attr").addClass("show");
					$(".mask-filter-div").addClass("show");
				});
			})
			/**
			 * 点选可选属性或改变数量时修改商品价格的函数
			 */
			function changePrice(type)
			{
				var max_number = parseInt($(".goods_attr_num").html());// 库存
				var min_number = 1;
				var qty = $("#goods_number").val();
				if(type == 1){
					if(qty >= min_number){
						qty--;
					}
				}
				var goods_attr_id = getSelectedAttributes(document.forms['ECS_FORMBUY']);
	  			$(":input[name='goods_spec']").val(goods_attr_id);
				if(type == 3){
					if(qty < max_number){
						qty++;
					}else{
						var message = "您最多可订购" + max_number + "件商品!";
						d_messages(message);
						return false;
					}
				}
				if(qty <=0 ){ qty=1; }
				if(!/^[0-9]*$/.test(qty)){ qty = 1 }
				var attr = getSelectedAttributes(document.forms['ECS_FORMBUY']);
                var attr_id = getSelectedAttributesGroup(document.forms['ECS_FORMBUY']);
                attr_id = attr_id && attr_id.length ? parseInt(attr_id) : '';
				var warehouse = {if $region_id}{$region_id}{else}0{/if};
				var area = {if $area_id}{$area_id}{else}0{/if};
				$.get('{url("price")}', {'gid':{$goods_id},'id':{$sample['act_id']},'attr':attr, 'goods_attr':attr_id, 'warehouse_id':warehouse, 'area_id':area}, function(data){
					changePriceResponse(data);
				}, 'json');
			}

            /**
             * 接收返回的信息
             */
            function changePriceResponse(res) {
                if (res.err_msg.length > 0) {
                    d_messages(res.err_msg);
                } else {
                    //by wu
                    $("[ectype='main_attr_list']").html(res.main_attr_list);

                    get_select_record()
                }
            }
            //设置添加记录
            function set_select_record(obj){
                //转换对象
                if(!obj.hasClass('buy-num')){
                    obj = obj.siblings('.buy-num');
                }
                var num = obj.val(); //数量

                //查看是否设置属性
                var specscount = parseInt($("input[name='specscount']").val());
                var attr_group = obj.parents("[ectype='attr_group']").data('attr_group');
                if(num > 0){
                    if($("[ectype='select_record'] [data-attr='"+attr_group+"']").length == 0){
                        var html = "<li data-attr='"+attr_group+"' data-num='"+num+"'></li>";
                        $("[ectype='select_record']").append(html)
                    }else{
                        $("[ectype='select_record'] [data-attr='"+attr_group+"']").attr('data-num', num);
                    }
                }else if (num == 0){
                    $("[ectype='select_record'] [data-attr='"+attr_group+"']").remove();
                }

                calculate_select_record();
            }

            //获取添加记录
            function get_select_record(){
                $("[ectype='attr_group']").each(function(){
                    var attr_group = $(this).data('attr_group');
                    var select_num = $("[ectype='select_record']").find("[data-attr='"+attr_group+"']").attr('data-num');
                    if(/\d+/.test(select_num)){
                        $(this).find(".buy-num").val(select_num);
                    }else{
                        $(this).find(".buy-num").val(0);
                    }
                })
            }

            var act_id = {$sample['act_id']}
            //计算数量价格
            function calculate_select_record(){
                var goods_id = $("input[name='goods_id']").val();

                //查看是否设置属性
                var specscount = parseInt($("input[name='specscount']").val());
                if(specscount > 0){
                    //查看是否设置属性
                    var attr_array = new Array();
                    var num_array = new Array();

                    $("[ectype='select_record'] li").each(function(i){
                        var attr = $(this).attr('data-attr');
                        var num = $(this).attr('data-num');
                        attr_array.push(attr);
                        num_array.push(num);
                    })

                    //异步处理
                    $.ajax({
                        url:'{url("get_select_record")}',
                        type:'get',
                        data:{'act_id':act_id, 'attr_array':attr_array, 'num_array':num_array}, //传递数组数据
                        dataType:'json',
                        success:function(data){
                            $("[ectype='w-number']").html(data.total_number);
                            $("[ectype='w-total']").html(data.data.total_price_formatted);
                            $("[ectype='main_attr_list'] .price").html(data.data.unit_price_formatted);
                            $("[ectype='wginfo']").html(data.record_data);
                        }
                    })
                } else {
                    var goods_number = $("input[name='goods_number']").val();
                    $.ajax({
                        url:'{url("get_select_record")}',
                        type:'get',
                        data:{'act_id':act_id, 'goods_number':goods_number}, //传递数组数据
                        dataType:'json',
                        success:function(data){

                            $("[ectype='w-number']").html(data.total_number);
                            $("[ectype='w-total']").html(data.data.total_price_formatted);
                            $(".si-lie-list .price").html(data.data.unit_price_formatted);
                        }
                    })
                }
            }
		</script>
	</body>

</html>
